:root {
    --primary-bg-col: #181719;
    --primary-text-col: #6ee956;
}

body {
    background-color: var(--primary-bg-col);
    color: var(--primary-text-col);

    margin: 0;
    padding: 0;
    padding-top: 3%;
}

h1 {
    text-align: center;
}

/* unused */
/* .first-glitch .glitched-img {
    width: 500px;
    position: absolute;
} */

/* 60% width container for my images and labels to live in */
#container {
    width: 60%;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;

    display: flex;
    flex-direction: row;
}

/* class for my labels/captions section */
.labels {
    display: grid;
    grid-template-rows: auto auto auto;
    
    text-align: end;
    margin-left: auto;
    padding-left: auto;

    width: 30%;
}

/* transformation-1: container for first image, format into a grid, make rows small so that image repeats and overlaps */
.first-glitch {
    display: grid;
    grid-template-rows: 20px auto 100px;
}

/* transformation-1: handled sizing/cropping, applied high contrast filter */
.first-glitch .glitched-img {
    width: 400px;
    height: 200px;

    object-fit: cover;
    object-position: top;

    filter: contrast(200%)
}

/* transformation-2: grid container for second image, specifying the number of columns and rows this time */
.second-glitch {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 0;
}

/* transformation-2: so that images do not overflow */
.second-glitch div {
    overflow: clip;
}

/* transformation-2: specifications to fit the image, added slight blur */
.second-glitch img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: blur(0.2px)
}

/* transformation 3: setting the size of the image and cropping it */
.third-glitch {
    width: 400px;
    height: 500px;

    overflow: hidden;
}

/* transformation 3: ^^ */
.third-glitch img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* transformation 3: on hover, image will stretch, the cursor will change, and the colours of the image invert */
.third-glitch img:hover {
    object-fit: fill;
    cursor: wait;
    filter: invert();
}

/* transformation 4: set image as background of the div so that text can lay over it */
.fourth-glitch {
    container-type: inline-size;
    width: 400px;
    height: 500px;

    background-image: url(images/a2-glitch-photo.jpg);
}

.fourth-glitch h2 {
    margin: 0;
    padding: 0;

    text-align: center;
    line-height: 0.9;

    font-size: 48cqw;
}