:root {
    --primary-bg-col: #1c1a1d;
    --primary-text-col: #6ee956;
}

body {
    background-color: var(--primary-bg-col);
    color: var(--primary-text-col);

    margin: 0;
    padding: 0;
}

/* unused */
/* .first-glitch .glitched-img {
    width: 500px;
    position: absolute;
} */

section {
    width: 100%;
    margin: auto;
}

.first-glitch {
    padding: 5%;
    margin: auto;

    display: grid;
    grid-template-rows: 20px auto 100px;
}

.first-glitch .glitched-img {
    width: 400px;
    filter: contrast(200%)
}