:root {
    --primary-bg-col: #181719;
    --primary-text-col: #6ee956;
}

body {
    background-color: var(--primary-bg-col);
    color: var(--primary-text-col);

    margin: 0;
    padding: 0;
}

/* unused */
/* .first-glitch .glitched-img {
    width: 500px;
    position: absolute;
} */

/* 60% width container for my images and labels to live in */
#container {
    width: 60%;
    margin: auto;
    margin-top: 7%;

    display: flex;
    flex-direction: row;
}

/* transformation-1: container for first image, format into a grid, make rows small so that image repeats and overlaps */
.first-glitch {
    display: grid;
    grid-template-rows: 20px auto 100px;
}

/* transformation-1: handled scale, applied high contrast filter */
.first-glitch .glitched-img {
    width: 400px;
    filter: contrast(200%)
}

/* class for my labels/captions section */
.labels {
    display: grid;
    grid-template-rows: auto auto auto;
    
    text-align: end;
    margin-left: auto;
    padding-left: 3%;
}